
{% extends 'base.html' %}

{% block content %}

    <div class="my-pitches mb-5 mt-5"
    style="box-shadow: 0 7px 8px 0 rgba(0,0,0,0.8), 0 10px 10px 0 rgba(0,0,0,0.8); margin-top: 10px;margin: 10px;">
    <h3 class="text-center mt-5">About Pitch App</h3>
    <hr>
    <h4 class="text-center mb-5 mt-5 pt-3 pb-5">Pitch App is an awesome platform where one can can view the different categories of pitches. Users can register and login into the application and either view or create new pitches. One also has the option of liking, disliking and commenting on a particlar pitch.</h4>
     
</div>

{% endblock %}