{% extends 'base.html' %} {% import 'macros.html' as macro %}{%block content%}
<div class="text-center">
    <h1>MOTIVATIONAL PITCHES</h1>
</div>
<div class="container">
    <hr>
    <div class="row" style="margin-top: 300px;">
        {{macro.displayPitches(pitches)}}
    </div>
</div>

<style>
    body {
        background-image: url('https://image.shutterstock.com/image-photo/wooden-footbridge-on-lake-mist-260nw-1238469448.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
</style>

{%endblock%}